.elect-container {
  display: flex;
  justify-content: center;

  padding-top: 4rem;
}

.elect-headings {
  font-size: 1.5rem;
  color: white;

  margin-bottom: 1rem;
}

.elect-center {
  width: 67.5%;

  display: flex;
  flex-direction: column;
}

.elect-horizontal {
  padding: 1rem;

  border-radius: 5px;

  display: flex;
  justify-content: space-between;

  background: gray;

  font-size: 1.25rem;
  font-weight: 500;

  margin-bottom: 2rem;

  cursor: pointer;
}

.admin-election-controller {
  font-size: 1.25rem;

  background: lightblue;

  margin: 0;
  padding: 0.5rem 1rem;

  width: max-content;

  border: none;
  border-radius: 3px;

  cursor: pointer;

  display: none;
}

.display-add-election-btn {
  display: block;
}

.elect-admin-form {
  display: flex;
  /* flex-direction: column; */
}

.elect-labels {
  color: white;
  font-size: 1.25rem;
}

.elect-inputs {
  font-size: 1.1rem;
  margin: 0;
}

.elect-submit {
  font-size: 1.1rem;
}

.elect-admin-form {
  margin: 0;
  padding: 2rem;

  /* background: rgb(0, 0, 29); */
}
